* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
nav {
  width: 100%;
  height: 44px;
  background-color: rgba(22, 22, 22, 0.8);
  position: fixed;
  z-index: 1;
}
nav ui.nav-content {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  line-height: 44px;
}
nav .links {
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s;
}
nav .links:hover {
  opacity: 1;
}
nav .links a {
  display: block;
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 400;
  padding: 0 calc(8px / 1px, 1);
}
nav .nav-content .apple-icon {
  width: 30px;
  height: 100%;
  background-position: center center;
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-image: url(../images/apple_icon.svg);
}
nav .nav-content .seach-icon {
  width: 31px;
  height: 100%;
  background-position: 8px 0;
  background-size: 15px 88px;
  background-repeat: no-repeat;
  background-image: url(../images/search_icon.svg);
}
nav .nav-content .bag-icon {
  width: 30px;
  height: 100%;
  background-position: center center;
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-image: url(../images/bag_icon.svg);
}
section {
  padding-top: 44px;
}
section .adds {
  background-color: #1d1d1f;
}
section .adds > div {
  margin: 0 auto;
  max-width: 910px;
  width: 100%;
  text-align: center;
}
section .adds > div > P {
  font-size: 14px;
  padding: 13px 0;
  width: 100%;
  color: #fff;
  letter-spacing: normal;
}
section .adds a {
  color: #06c;
  letter-spacing: normal;
}
section .adds a:hover {
  text-decoration: underline;
}
section .product-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 692px);
  gap: 12px;
}
section .product-area .product {
  width: 100%;
  height: 100%;
  text-align: center;
}
section .product-area .product.full-col {
  grid-column-start: 1;
  grid-column-end: -1;
}
.product.macbook-air {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/macbook-air.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h1 {
  font-size: 48px;
}
.content h3 {
  font-size: 21px;
  font-weight: 300;
}
.content .m2-adds {
  width: 244px;
  height: 36px;
  margin-top: 8px;
  background-repeat: no-repeat;
  background-size: 244px 36px;
  background-image: url(../images/m2-adds.png);
}
.content .tips {
  color: #86868b;
  font-size: 19px;
  margin-top: 11px;
}
.content .action-area {
  display: flex;
  margin-top: 10px;
}
.content .action-area a {
  text-decoration: none;
  color: #06c;
  font-size: 19px;
  cursor: pointer;
}
.content .action-area a:hover {
  text-decoration: underline;
}
.content .action-area a::after {
  content: "  >";
}
.content .action-area a:not(:first-child) {
  margin-left: 32px;
}
.product.macbook-pro13 {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mbp13.jpeg);
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 47px;
}
.product.macbook-pro13 .content h1 {
  color: white;
}
.product.macbook-pro13 .content .m2-adds {
  background-image: url(../images/m2-black.png);
  background-size: 293px 68px;
  width: 293px;
  height: 68px;
}
.product.iPhone13 {
  background-image: url(../images/iphone13.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fbfbfd;
  padding: 47px;
}
.product.iPhone13-pro {
  background-image: url(../images/iphone13-m.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fbfbfd;
  padding-top: 50px;
}
.product.WATCH {
  background-image: url(../images/watch-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fbfbfd;
  padding-top: 50px;
}
